/*Colors*/
$white: #fff;
$black: #000;
$darkGray: #333333;
$lightPink: #F2C7C0;
$blue: #4C70B6;
$dblue: #3E5B94;
$heading: #202247;

/*Primary Theme*/
$primaryPink: #f05349;
$primaryGreen: #fdb717;
$primaryGreenHover: #e49f07;
$primaryYellow: #FFD400;
$primaryGary: #3D444B;

/*Fonts*/
$fontRegular: 'Proxima_Regular' , sans-serif;
$fontMedium: 'Proxima_Black' , sans-serif;
$fontBold: 'Proxima_Bold' , sans-serif;
$fontExBold: 'Proxima_Extra_Bold', sans-serif;
$fontSemiBold: 'Proxima_Semibold' , sans-serif;

/*Floats*/
$left: left;
$right: right;